.container{
    color: black;
    background-color: pink;

}

.header{
    color :saddlebrown;
    background-color: sandybrown;
    
}

.list{
    color: black;
    background-color: cornflowerblue;
}